    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    /* Full page split into 2 halves */
    .container {
        display: flex;
        width: 100%;
        height: 100vh;
    }

    /* LEFT SIDE */
    .left-box {
        width: 50%;
        padding: 25px;
        background: #6c96b4; /* Light blue */
        border-right: 2px solid #000;
    }

    /* RIGHT SIDE */
    .right-box {
        width: 50%;
        padding: 25px;
        background: #876938; /* Light orange */
    }

    h2, h3 {
        margin-top: 0;
    }

    input {
        padding: 8px;
        width: 60%;
    }

    button {
        padding: 8px 14px;
        cursor: pointer;
    }

    #historyList li {
        margin-bottom: 5px;
        padding: 5px;
        background: rgb(146, 137, 137);
        border-radius: 4px;
        list-style: none;
        width: fit-content;
    }
